html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
input {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
  color: #666666;
  width: 100%;
  height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

input[type=submit],
input[type=reset],
input[type=button],
button {
  -webkit-appearance: none
}

ul, ol, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;;
}

:focus {
  outline: none;
}

a:link {
  text-decoration: none;
  /* 指正常的未被访问过的链接*/

}

a:visited {
  text-decoration: none;
  /*指已经访问过的链接*/

}

a:hover {
  text-decoration: none;
  /*指鼠标在链接*/
}

a:active {
  text-decoration: none;
  /* 指正在点的链接*/
}

textarea {
  resize: none;
  font-family: auto;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block
}

.clearfix {
  clear: both;
  content: "";
  display: block;
  overflow: hidden
}

.clear {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pr {
  position: relative
}

.ps {
  position: absolute;
}

/* 弹出遮罩层 */
.tipMask {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}

/* 阴影样式 */
.shadow {
  box-shadow: 0px 3px 12px 1px #ebebeb;
}

/* 反向箭头 */
.jiantou {
  transform: rotate(180deg);
}

/* flex样式 */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*-webkit-flex-flow: row; 不换行*/
  align-items: center;
}

/* element 样式修改 */
.el-table__header tr {
}

.el-table__header tr th {
  color: #409EFF;
  font-weight: 600;
  padding: 0 !important;
  background: rgba(238, 238, 238, 0.45) !important;
  border-top:  1px solid #EBEEF5;
}

.el-table__header tr th .caret-wrapper .ascending {
  border-bottom-color: #409EFF;
}

.el-table__header tr th .caret-wrapper .descending {
  border-top-color: #409EFF;
}

.el-form-item .el-form-item__label {
  text-align: left;
  font-size: 13px;  
}